
<!DOCTYPE html>
<html>

<head>
    <title>Page 404</title>
    <link type="text/css" rel="stylesheet" href="https://tsparticles.github.io/404-templates/space/css/404.css" />
    <link rel="icon" type="image/x-icon" href="https://tsparticles.github.io/404-templates/space/images/tsParticles-64.png">
</head>

<body class="permission_denied">
    <div id="tsparticles"></div>
    <div class="denied__wrapper">
        <h1>404</h1>
        <!-- <h3>LOST IN <span>SPACE</span> App-Name? Hmm, looks like that page doesn't exist.</h3> -->
        <img id="astronaut" src="https://tsparticles.github.io/404-templates/space/images/astronaut.svg" />
        <img id="planet" src="https://tsparticles.github.io/404-templates/space/images/planet.svg" />
        <p style="text-align:center">This requested URL was not found on this server.</p>
        <a href="https://fakenewsdetection-gyce.onrender.com/"><button class="denied__link">Go Home</button></a>
    </div>

    <script type="https://tsparticles.github.io/404-templates/space/text/javascript"
        src="https://cdn.jsdelivr.net/npm/tsparticles@2.3.4/tsparticles.bundle.min.js"></script>
    <script type="text/javascript" src="https://tsparticles.github.io/404-templates/space/js/404.js"></script>

</html>
