<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- SEO Meta Tags -->
    <meta name="description"
        content="Tivo is a HTML landing page template built with Bootstrap to help you crate engaging presentations for SaaS apps and convert visitors into users.">
    <meta name="author" content="Inovatik">

    <!-- Website Title -->
    <title>Phát hiện tin giả bằng Machine Learning </title>
    <!-- Styles -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700&display=swap&subset=latin-ext"
        rel="stylesheet">
    <link href="{{ url_for('static',filename='css/bootstrap.css') }}" rel="stylesheet">
    <link href="{{ url_for('static',filename='css/fontawesome-all.css') }}" rel="stylesheet">
    <link href="{{ url_for('static',filename='css/styles.css') }}" rel="stylesheet">
    <link href="{{ url_for('static',filename='css/swiper.css') }}" rel="stylesheet">
    <link href="{{ url_for('static',filename='css/magnific-popup.css') }}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Droid+Sans+Mono" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/jquery-highlighttextarea/3.1.3/jquery.highlighttextarea.css"
        integrity="sha512-NuDJ8dpZvjVnfu6k3aRIqw+qfdidDZnnvFMHnVP4n3ZIokJmawPnmuSJBQWFff4xwjWA5N/8OtQEzs6cifDLMw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-highlighttextarea/3.1.3/jquery.highlighttextarea.min.js"
        integrity="sha512-chIsjWxJnMERODBM+fhp7xsJzD/k1Rp3qpY+xdCnmy3DrlIRvoYl4RqZbPxmpMYi4p+eT9MLtvNJMhwzQFsrYg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    </script>
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <script type="text/javascript" src="https://unpkg.com/jquery-tourer@1.0.1/dist/jquery-tourer.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/jquery-tourer@1.0.1/dist/jquery-tourer.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
        integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
        crossorigin="anonymous" referrerpolicy="no-referrer">
    <link rel="icon"
        href="https://media1.giphy.com/media/f9xvcrzFdRaHATv6me/giphy.gif?cid=6c09b95256e366c2930ac6483563c01a1c5f9a6d8e1e27ce&rid=giphy.gif&ct=s">
    <script src="https://unpkg.com/intro.js/minified/intro.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/intro.js/minified/introjs.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastify-js/1.12.0/toastify.js"
        integrity="sha512-ZHzbWDQKpcZxIT9l5KhcnwQTidZFzwK/c7gpUUsFvGjEsxPusdUCyFxjjpc7e/Wj7vLhfMujNx7COwOmzbn+2w=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastify-js/1.12.0/toastify.css"
        integrity="sha512-kT0v1BxcibEO2Yc+6Z3W1gNsN+2cZ/U6uITqHhIJl8SAvt9vpO8llugdCPXA7cCnp8G1xbuSqHNMRaR3Zlz9yA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <style>
        a:hover {
            color: #5f4dee;
        }
    </style>


</head>

<body data-spy="scroll" data-target=".fixed-top">

    <!-- Preloader -->
    <div class="spinner-wrapper">
        <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div>
    <!-- end of preloader -->

    <!-- Navigation -->
    <nav style="background-color: #5f4dee;" class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
        <div class="container">

            <!-- Text Logo - Use this if you don't have a graphic logo -->
            <!-- <a class="navbar-brand logo-text page-scroll" href="index.html">Tivo</a> -->

            <!-- Image Logo -->
            <div class="navbar-brand" href="index.html">
                {% if not pictures %}
                <h6 class="text-white"></h6><img width="90" style="height: auto; border-radius: 50%;"
                    src="https://media1.giphy.com/media/f9xvcrzFdRaHATv6me/giphy.gif?cid=6c09b95256e366c2930ac6483563c01a1c5f9a6d8e1e27ce&rid=giphy.gif&ct=s"
                    alt="alternative"></h6>{% else %}
                <h6 class="text-white"><img style="border-radius: 50%;" width="45" class="img-rounded"
                        src="{{ pictures }}" alt="User Logo"> Xin chào {{names}}</h6>
                {% endif %}
            </div>

            <!-- Mobile Menu Toggle Button -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
                aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-awesome fas fa-bars"></span>
                <span class="navbar-toggler-awesome fas fa-times"></span>
            </button>
            <!-- end of mobile menu toggle button -->

            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link page-scroll" href="{{ url_for('home')}}">TRANG CHỦ <span
                                class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link page-scroll" href="{{ url_for('forum')}}">DIỄN ĐÀN</a>
                    </li>
                    <!-- <li class="nav-item">
                    <a class="nav-link page-scroll" href="#details">TIN GIẢ</a>
                </li> -->

                    <!-- Dropdown Menu -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle page-scroll" href="" id="navbarDropdown" role="button"
                            aria-haspopup="true" aria-expanded="false">HƯỚNG DẪN</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{{ url_for('detectfakenews')}}"><span class="item-text">HƯỚNG
                                    DẪN CÁCH NHẬN BIẾT, PHÒNG TRÁNH TIN GIẢ </span></a>
                            <div class="dropdown-items-divide-hr"></div>
                            <a class="dropdown-item" href="{{ url_for('usermanual')}}"><span class="item-text">HƯỚNG DẪN
                                    SỬ DỤNG TRANG WEB </span></a>
                        </div>
                    </li>
                    <!-- end of dropdown menu -->

                    <li class="nav-item">
                        <a class="nav-link page-scroll active" href="{{ url_for('check')}}">KIỂM TRA</a>
                    </li>

                    {% if not names %}
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link page-scroll" href="{{ url_for('post')}}">ĐĂNG BÀI</a>
                    </li>
                    {% endif %}

                </ul>
                <span class="nav-item">
                    {% if not names %}
                    <a class="btn-outline-sm" href="{{ url_for('login')}}"><i class="fa-brands fa-google"></i> ĐĂNG
                        NHẬP</a>
                    {% else %}
                    <a class="btn-outline-sm" href="{{ url_for('logout')}}"><i
                            class="fa-solid fa-right-from-bracket"></i> ĐĂNG XUẤT</a>
                    {% endif %}
                </span>
            </div>
        </div>
        <!-- end of container -->
    </nav>
    <!-- end of navbar -->
    <!-- end of navigation -->

    <!-- Header -->

    <!-- end of header -->
    <br>
    <br>
    <br>

    <div id="features" class="tabs">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="above-heading">KIỂM TRA TIN TỨC</div>
                    <h3 class="h2-heading">Hệ thống phát hiện tin giả bằng Machine Learning và Deep Learning</h3>
                    <!-- <p class="p-heading">Nên lưu ý rằng hệ thống đang trong quá trình phát triển, do đó người dùng cần
                        cân nhắc và không nên hoàn toàn tin tưởng 100% vào kết quả đầu ra của mô hình.
                    </p> -->
                </div>
                <!-- end of col -->
            </div>
            <!-- end of row -->
            <ul class="nav nav-tabs" id="argoTabs" role="tablist">
                <!-- <li class="nav-item">
                    <a class="nav-link active" id="nav-tab-1" data-toggle="tab" href="#tab-1" role="tab"
                        aria-controls="tab-1" aria-selected="true"><i class="fas fa-font"></i>Văn Bản</a>
                </li> -->
                <li class="nav-item">
                    <a class="nav-link active" id="nav-tab-1" data-toggle="tab" href="#tab-1" role="tab"
                        aria-controls="tab-1" aria-selected="true"><i class="fas fa-font"></i>Kiểm Tra</a>
                </li>
                <!-- <li class="nav-item" id="img">
                    <a class="nav-link" id="nav-tab-2" data-toggle="tab" href="#tab-2" role="tab" aria-controls="tab-2"
                        aria-selected="false"><i class="fas fa-camera"></i>Hình ảnh</a>
                </li> -->
            </ul>
            <div class="row">
                <div class="col-lg-12">

                    <!-- Tabs Links -->

                    <!-- end of tabs links -->
                    <div class="form-message">
                        <div id="nmsgSubmit" class="text-center">
                            <!-- <div class="resu"></div> -->
                        </div>
                    </div>
                    <!-- Tabs Content -->
                    <div class="tab-content pt-3" id="argoTabsContent">

                        <!-- Tab -->
                        <div class="tab-pane fade show active" id="tab-1" role="tabpanel" aria-labelledby="tab-1">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="text-container"
                                        style="max-width: 800px; margin: 10px auto; padding: 0 20px;color: #495057;">
                                        <form name="form1" action="{{ url_for('predicts')}}" method="POST"
                                            id="newsletterForm" data-toggle="validator" data-focus="false">
                                            <div class="form-group bg-white">

                                                <textarea rows="7" cols="100"
                                                    placeholder="Nhập thông báo, tin tức hoặc nội dung mà bạn muốn kiểm tra"
                                                    style="overflow: auto; border: none; outline: none; box-sizing: border-box; max-width: 100%; height: 176px;"
                                                    name="message" type="text" id="message"
                                                    class="string-example  hwt-input hwt-content" required></textarea>


                                            </div>
                                            <!-- <div class="help-block">
                                                <p style="color:#5f4dee; font-size: small;">Tổng số từ: <span
                                                        class='count'>0</span></p>
                                            </div> -->


                                            <!-- <div class="form-group">
                                                <button type="submit" class="form-control-submit-button">KIỂM TRA</button>
                                            </div> -->
                                            <div class="form-group checkbox">
                                                <a type="text" id="nterms">Sau khi nhấn nút "Kiểm tra" vui lòng đợi
                                                    trong giây
                                                    lát. </a>
                                            </div>
                                            <button onclick="Check()" id="submit1" type="submit"
                                                class="btn-solid-reg popup-with-move-anim">KIỂM
                                                TRA</button>
                                            {% if not names %}
                                            {% else%}
                                            <a type="button" id="submit2" data-toggle="modal"
                                                data-target=".bd-example-modal-lg"
                                                style='display: inline-block; padding: 1.1875rem 2.125rem 1.1875rem 2.125rem; border: 0.125rem solid #d9534f; border-radius: 2rem; background-color: #d9534f; color: #fff; font: 700 0.875rem/0 "Open Sans", sans-serif; text-decoration: none; transition: all 0.2s;'>TIẾP
                                                NHẬN PHẢN ÁNH</a>
                                            {% endif %}
                                        </form>

                                    </div>

                                    <!-- end of text-container -->

                                </div>
                                <!-- end of col -->
                                <div class="col-lg-12">
                                    <div class="text-container"
                                        style="color: #495057;">
                                        <table class="table table-bordered">
                                            <thead class="thead"
                                                style="background-color: #5f4dee; color: #fff; display: none;">
                                                <tr>
                                                    <th scope="col">STT</th>
                                                    <th scope="col">Tên miền</th>
                                                    <th scope="col" style="width: 180px">Đường dẫn đề xuất</th>
                                                    <th scope="col">Nội dung</th>
                                                    <th scope="col">Tỉ lệ tin thật</th>
                                                </tr>
                                            </thead>
                                            <tbody class="results">

                                            </tbody>
                                        </table>
                                    </div>

                                </div>
                                <!-- end of col -->

                            </div>

                            <!-- end of row -->
                        </div>
                        <!-- end of tab-pane -->
                        <!-- end of tab -->

                        <!-- Tab -->
                        <div class="tab-pane fade" id="tab-2" role="tabpanel" aria-labelledby="tab-2">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="text-container"
                                        style="color: #495057;">
                                        <form name="form1" action="{{ url_for('predicts')}}" method="POST"
                                            id="newsletterForm" data-toggle="validator" data-focus="false">
                                            <div class="form-group">
                                                <div class="file-upload">
                                                    <!-- <button class="file-upload-btn" type="button"
                                                        onclick="$('.file-upload-input').trigger( 'click' )">Thêm ảnh</button> -->
                                                    <div class="image-upload-wrap">
                                                        <input class="file-upload-input" type='file'
                                                            onchange="readURL(this);" accept="image/*" />
                                                        <div class="drag-text">
                                                            <h3>Kéo và thả tệp để thêm hình ảnh
                                                            </h3>
                                                        </div>
                                                    </div>
                                                    <div class="file-upload-content">
                                                        <img height="100%" class="file-upload-image" src=""
                                                            alt="your image" />
                                                        <div class="image-title-wrap">
                                                            <!-- <button type="button" onclick="removeUpload()" class="remove-image">Xóa <span class="image-title">Uploaded Image</span></button> -->
                                                            <button type="button" onclick="removeUpload()"
                                                                class="remove-image btn-sm">Hủy tải lên</button>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                            <!-- <div class="help-block">
                                                <p style="color:#5f4dee; font-size: small;">Tổng số từ: <span
                                                        class='count'>0</span></p>
                                            </div> -->


                                            <!-- <div class="form-group">
                                                <button type="submit" class="form-control-submit-button">KIỂM TRA</button>
                                            </div> -->
                                            <div class="form-group checkbox">
                                                <a type="text" id="nterms">Sau khi nhấn nút "Kiểm tra" vui lòng đợi
                                                    trong giây
                                                    lát. </a>
                                            </div>
                                            <button onclick="Check()" id="submit1" type="submit"
                                                class="btn-solid-reg popup-with-move-anim">KIỂM
                                                TRA</button>
                                            {% if not names %}
                                            {% else%}
                                            <a type="button" id="submit2" data-toggle="modal"
                                                data-target=".bd-example-modal-lg"
                                                style='display: inline-block; padding: 1.1875rem 2.125rem 1.1875rem 2.125rem; border: 0.125rem solid #d9534f; border-radius: 2rem; background-color: #d9534f; color: #fff; font: 700 0.875rem/0 "Open Sans", sans-serif; text-decoration: none; transition: all 0.2s;'>TIẾP
                                                NHẬN PHẢN ÁNH</a>
                                            {% endif %}
                                        </form>

                                    </div>

                                    <!-- end of text-container -->

                                </div>
                                <!-- end of col -->
                                <div class="col-lg-12">
                                    <div class="text-container"
                                        style="max-width: 800px; margin: 10px auto; padding: 0 20px;color: #495057;">
                                        <table class="table table-bordered">
                                            <thead class="thead"
                                                style="background-color: #5f4dee; color: #fff; display: none;">
                                                <tr>
                                                    <th scope="col">STT</th>
                                                    <th scope="col">Tên miền</th>
                                                    <th scope="col" style="width: 180px">Đường dẫn đề xuất</th>
                                                    <th scope="col">Nội dung</th>
                                                    <th scope="col">Tỉ lệ tin thật</th>

                                                </tr>
                                            </thead>
                                            <tbody class="results">

                                            </tbody>
                                        </table>
                                    </div>

                                </div>
                                <!-- end of col -->

                            </div>
                            <!-- end of row -->
                        </div>
                        <!-- end of tab-pane -->
                        <!-- end of tab -->

                    </div>
                    <!-- end of tab content -->
                    <!-- end of tabs content -->

                </div>
                <!-- end of col -->
            </div>
            <!-- end of row -->
        </div>
        <!-- end of container -->
    </div>

    <div class="modal fade" id="showDetail" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="myElement"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
        <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content" style="padding:15px;">
                    <h3 class="text-center" style="color:#5f4dee">PHẢN ÁNH TIN GIẢ TRỰC TUYẾN </h3>
                    <form name="formpost" action="{{ url_for('reflect')}}" method="POST" enctype="multipart/form-data">
                        <div class="form-row mb-3">
                            <div class="col-6 col-sm-6">
                                <label for="to" class="col-form-label">Tiêu đề</label>
                                <input style="display: none" type="text" name="iduser" class="form-control"
                                    value="{{google_id}}">
                                <input style="display: none" type="text" name="pictures" class="form-control"
                                    value="{{pictures}}">
                                <input style="display: none" type="text" name="nameuser" class="form-control"
                                    value="{{names}}">
                                <input type="text" name="title" class="form-control" id="to" required>
                            </div>
                            <div class="col-6 col-sm-6">
                                <label for="cc" class="col-form-label">Số điện thoại:</label>
                                <input type="text" name="phone" class="form-control" id="cc" required>
                            </div>
                        </div>
                        <div class="form-row mb-3">
                            <div class="col-6 col-sm-6">
                                <label for="bcc" class=" col-form-label">Thể loại</label>
                                <select name="type" class="form-control" required>
                                    <option value="law">Chính sách, pháp luật</option>
                                    <option value="disaster">Thiên tai, dịch bệnh</option>
                                    <option value="ecomomy">Kinh tế, chính trị</option>
                                    <option value="health">Lĩnh vực y tế, sản phẩm y tế liên quan đến sức khỏe con người
                                    </option>
                                    <option value="seciurity">An ninh quốc gia, Trật tự an toàn – xã hội</option>
                                    <option value="other">Khác</option>
                                </select>
                            </div>
                            <div class="col-6 col-sm-6">
                                <label for="bcc" class="col-form-label">Nhãn</label>
                                <select name="label" class="form-control" required>
                                    <option value="0">Tin giả</option>
                                    <option value="1">Tin Thật</option>
                                </select>
                            </div>

                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="inputPassword4">Link bài viết</label>
                                <input type="text" class="form-control" name="link" id="inputPLink" required>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputPassword4">Chọn ảnh</label>
                                <div class="custom-file pt-3">
                                    <input type="file" class="custom-file-input" name="image_upload" id="image_upload"
                                        onchange="loadFile(event)" required>
                                    <label class="custom-file-label" for="inputGroupFile01"></label>
                                    <!-- <div class="text-center">
                                    <img height="170" id="output"
                                        src="/static/images/news.png" />
                                </div> -->
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-sm-12 ml-auto">
                                <div class="form-group">
                                    <label for="bcc" class="col-form-label">Tóm tắt</label>
                                    <textarea class="form-control" id="message" name="content" style="height: 300px;"
                                        required></textarea>
                                </div>
                                <script>
                                    CKEDITOR.replace('content');
                                </script>
                                <div class="form-group">
                                    <div class="text-center">
                                        <button type="submit" onclick="Check2()" name="reflect"
                                            class="btn-solid-reg popup-with-move-anim">Gửi
                                            phản
                                            ánh</button>
                                        <a type="button" data-dismiss="modal" class="btn-solid-reg popup-with-move-anim"
                                            style="display: inline-block; padding: 1.1875rem 2.125rem 1.1875rem 2.125rem; border: 0.125rem solid #d9534f; border-radius: 2rem; background-color: #d9534f; color: #fff;">Hủy</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <style>
            .preloader {
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(255, 255, 255, 0.7);
                /* đặt độ trong suốt ở giá trị alpha của rgba */
                z-index: 9999;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }

            .loader {
                border: 16px solid #f3f3f3;
                border-top: 16px solid #5f4dee;
                border-radius: 50%;
                width: 120px;
                height: 120px;
                animation: spin 2s linear infinite;
            }

            @keyframes spin {
                0% {
                    transform: rotate(0deg);
                }

                100% {
                    transform: rotate(360deg);
                }
            }

            .loading-text {
                font-size: 24px;
                margin-top: 20px;
                font-weight: bold;
                color: #5f4dee;
                text-align: center;
                text-transform: uppercase;
            }

            .enter-loading {
                animation: enter-loading 2s ease-in-out;
                animation-fill-mode: forwards;
            }

            @keyframes enter-loading {
                0% {
                    opacity: 0;
                    transform: translateY(-50px);
                }

                100% {
                    opacity: 1;
                    transform: translateY(0);
                }
            }
        </style>

        <div class="preloader" style="display:none;">
            <div class="loader"></div>
            <div class="loading-text enter-loading">Đang thực hiện tính toán</div>
        </div>


        <!-- end of tabs -->
        <!-- Copyright -->
        <div class="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <p class="p-small">Copyright &copy; 2023. All Rights Reserved.</a>
                        </p>
                    </div>
                    <!-- end of col -->
                </div>
                <!-- enf of row -->
            </div>
            <!-- end of container -->
        </div>
        <!-- end of copyright -->
        <!-- end of copyright -->


        <!-- Scripts -->
        <!-- <script src="{{ url_for('static',filename='js/jquery.min.js') }}">
    </script> -->
        <script src="{{ url_for('static',filename='js/popper.min.js') }}">
        </script>
        <script src="{{ url_for('static',filename='js/bootstrap.min.js') }}">
        </script>
        <script src="{{ url_for('static',filename='js/jquery.easing.min.js') }}">
        </script>
        <script src="{{ url_for('static',filename='js/swiper.min.js.js') }}">
        </script>
        <script src="{{ url_for('static',filename='js/jquery.magnific-popup.js') }}">
        </script>
        <script src="{{ url_for('static',filename='js/validator.min.js') }}">
        </script>
        <script src="{{ url_for('static',filename='js/scripts.js') }}">
        </script>
        <!--     <script src="https://cdn.jsdelivr.net/gh/reymon359/web-experiments/Social%20Signature/socialsignature.min.js"
        crossorigin="anonymous"></script> -->
        <script>
            // $(function () {
            //     $('#message').click(function () {
            //         $("#message").val("")
            //         $('textarea').highlightTextarea('destroy');
            //     });
            // });
            function readURL(input) {
                if (input.files && input.files[0]) {

                    var reader = new FileReader();

                    reader.onload = function (e) {
                        $('.image-upload-wrap').hide();

                        $('.file-upload-image').attr('src', e.target.result);
                        $('.file-upload-content').show();

                        $('.image-title').html(input.files[0].name);
                    };

                    reader.readAsDataURL(input.files[0]);

                } else {
                    removeUpload();
                }
            }

            function removeUpload() {
                $('.file-upload-input').replaceWith($('.file-upload-input').clone());
                $('.file-upload-content').hide();
                $('.image-upload-wrap').show();
            }
            $('.image-upload-wrap').bind('dragover', function () {
                $('.image-upload-wrap').addClass('image-dropping');
            });
            $('.image-upload-wrap').bind('dragleave', function () {
                $('.image-upload-wrap').removeClass('image-dropping');
            });
        </script>
        <script type="text/javascript">
            function notify() {
                $.notify("Access granted", "success");
            }

        </script>
        <script>
            $(document).ready(function () {

                $('#editModal').on('show.bs.modal', function (event) {

                    var button = $(event.relatedTarget) // Button that triggered the modal

                    var text = button.data('text') // Extract info from data-* attributes

                    $('#myElement').html(htmlContent);
                })
            });
        </script>
        <script>
              $(document).ready(function () {
                  $("#message").on('keyup', function () {
                      var words = 0;

                      if ((this.value.match(/\S+/g)) != null) {
                          words = this.value.match(/\S+/g).length;
                          $('.count').text(words);
                      }

                      // if (words > 200) {
                      //     toastr.error('Giới hạn tối đa là 200 từ.')
                      //         // Split the string on first 200 words and rejoin on spaces
                      //     var trimmed = $(this).val().split(/\s+/, 200).join(" ");
                      //     // Add a space at the end to make sure more typing creates new words
                      //     $(this).val(trimmed + " ");
                      // } else {
                      //     $('.count').text(words);
                      //     $('#message').text(200 - words);
                      // }
                  });
              });
        </script>
        <script>
              if (window.history.replaceState) {
                  window.history.replaceState(null, null, window.location.href);
              }
        </script>

        <!-- <script>
        introJs().setOptions({
            steps: [
                {
                    title: 'Xin chào!',
                    element: document.querySelector('#nav-tab-1'),
                    intro: 'Kiểm tra tin giả bằng văn bản!'
                },
                {
                    title: 'Bước 1',
                    element: document.querySelector('#message'),
                    intro: 'Nhập thông báo, tin tức hoặc nội dung mà bạn muốn kiểm tra vào đây!'
                },
                {
                    title: 'Bước 2',
                    element: document.querySelector('#submit1'),
                    intro: 'Nhấn kiểm tra để chờ và xem kết quả.'
                },
                {
                    title: 'Bước 3',
                    element: document.querySelector('#submit2'),
                    intro: 'Tiếp nhận phản ánh nếu có sai sót.'
                },
            ]
        }).start();


    </script> -->

        <script type="text/javascript">
              $(document).ready(function () {
                  $('#newsletterForm').on('submit', function (e) {
                      if ($('#message').val() == "") {

                      } else {
                          $(".preloader").show();
                      }
                      e.preventDefault();
                      $.ajax({
                          data: {
                              message: $('#message').val(),
                          },
                          type: 'POST',
                          url: '/predict_news',
                          success: function (predictResponse) {
                              // Hiển thị kết quả từ AJAX thứ nhất
                              $('.resu').html(predictResponse).show();
                              $('.thead').show();
                              console.log('Đã hoàn thành AJAX thứ nhất.');

                              // Gọi AJAX thứ hai
                              $.ajax({
                                  data: {
                                      message: $('#message').val(),
                                      predictResult: predictResponse,
                                  },
                                  type: 'POST',
                                  url: '/searchurl',
                                  success: function (searchResponse) {
                                      // Hiển thị kết quả từ AJAX thứ hai
                                      $('.results').html(searchResponse).show();
                                      $('.thead').show();
                                      console.log('Đã hoàn thành AJAX thứ hai.');
                                      $(".preloader").hide();
                                  },
                                  error: function (jqXHR, textStatus, errorThrown) {
                                      console.log('Lỗi AJAX thứ hai: ' + textStatus + ' - ' + errorThrown);
                                  }
                              });
                          },
                          error: function (jqXHR, textStatus, errorThrown) {
                              console.log('Lỗi AJAX thứ nhất: ' + textStatus + ' - ' + errorThrown);
                          }
                      });
                  });
              });
        </script>
        <!-- <script type="text/javascript">
        $(document).ready(function () {
            $('#newsletterForm').on('submit', function (e) {
                $.ajax({
                    data: {
                        message: $('#message').val(),
                    },
                    type: 'POST',
                    url: '/searchurl'
                })
                    .done(function (data) {
                        $('.results').html(data).show();
                        $('.thead').show();
                    });
                e.preventDefault();
            });


        });
    </script> -->
        <script>
              var loadFile = function (event) {
                  var output = document.getElementById('output');
                  output.src = URL.createObjectURL(event.target.files[0]);
                  output.onload = function () {
                      URL.revokeObjectURL(output.src) // free memory
                  }
              };
        </script>
        <script>
              function Check2() {
                  let title = document.forms["formpost"]["title"].value;
                  let phone = document.forms["formpost"]["phone"].value;
                  let type = document.forms["formpost"]["type"].value;
                  let label = document.forms["formpost"]["label"].value;
                  let link = document.forms["formpost"]["link"].value;
                  let image_upload = document.forms["formpost"]["image_upload"].value;
                  let content = document.forms["formpost"]["content"].value;

                  if (title == "" && content == "" && phone == "" && link == "" && image_upload == "") {
                      Toastify({
                          text: "Không được phép để trống!",
                          duration: 5000,
                          backgroundColor: "linear-gradient(to right, #00b09b, #96c93d)",

                      }).showToast();
                  } else {
                      Toastify({
                          text: "Tin của bạn sẽ được kiểm duyệt dau 24h!",
                          duration: 100000
                      }).showToast();

                  }

              }
        </script>
        <script>
              function Check() {
                  let message = document.forms["form1"]["message"].value;
                  if (message == "") {
                      Toastify({
                          text: "Không được phép để trống!",
                          duration: 3000,
                          backgroundColor: "linear-gradient(to right, #00b09b, #96c93d)",

                      }).showToast();
                  } else {
                      Toastify({
                          text: "Đang thực hiện kiểm tra! Vui lòng đợi...",
                          duration: 3000
                      }).showToast();
                      // setTimeout(
                      //     function () {
                      //         $('textarea').highlightTextarea({
                      //             words: ['canh chua', 'cá lóc','tin giả'],
                      //             color: '#ffc9c9'
                      //         });

                      //     }, 3000);

                  }

              }
        </script>
        {% if not mess %}
        {% else%}
        <script>
              function Submit() {
                  Toastify({
                      text: "Gửi ok",
                      duration: 3000
                  }).showToast();
              }
              Submit()
        </script>
        {% endif %}
</body>

</html>