<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- SEO Meta Tags -->
  <meta name="description"
    content="Tivo is a HTML landing page template built with Bootstrap to help you crate engaging presentations for SaaS apps and convert visitors into users.">
  <meta name="author" content="Inovatik">

  <!-- Website Title -->
  <title>Ứng dụng phân tích tin tức và truy vấn nguồn tin chính thống bằng Deep Learning dành cho người Việt Nam  </title>
  <!-- Styles -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700&display=swap&subset=latin-ext"
    rel="stylesheet">
  <link href="{{ url_for('static',filename='css/bootstrap.css') }}" rel="stylesheet">
  <link href="{{ url_for('static',filename='css/fontawesome-all.css') }}" rel="stylesheet">
  <link href="{{ url_for('static',filename='css/styles.css') }}" rel="stylesheet">
  <link href="{{ url_for('static',filename='css/forum.css') }}" rel="stylesheet">
  <link href="{{ url_for('static',filename='css/swiper.css') }}" rel="stylesheet">
  <link href="{{ url_for('static',filename='css/magnific-popup.css') }}" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Droid+Sans+Mono" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/jquery-highlighttextarea/3.1.3/jquery.highlighttextarea.css"
    integrity="sha512-NuDJ8dpZvjVnfu6k3aRIqw+qfdidDZnnvFMHnVP4n3ZIokJmawPnmuSJBQWFff4xwjWA5N/8OtQEzs6cifDLMw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-highlighttextarea/3.1.3/jquery.highlighttextarea.min.js"
    integrity="sha512-chIsjWxJnMERODBM+fhp7xsJzD/k1Rp3qpY+xdCnmy3DrlIRvoYl4RqZbPxmpMYi4p+eT9MLtvNJMhwzQFsrYg=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  </script>
  <link rel="stylesheet" type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
  <script type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
  <script type="text/javascript" src="https://unpkg.com/jquery-tourer@1.0.1/dist/jquery-tourer.min.js"></script>
  <link rel="stylesheet" href="https://unpkg.com/jquery-tourer@1.0.1/dist/jquery-tourer.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
    integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
    crossorigin="anonymous" referrerpolicy="no-referrer">
  <link rel="icon"
    href="https://media1.giphy.com/media/f9xvcrzFdRaHATv6me/giphy.gif?cid=6c09b95256e366c2930ac6483563c01a1c5f9a6d8e1e27ce&rid=giphy.gif&ct=s">
  <script src="https://unpkg.com/intro.js/minified/intro.min.js"></script>
  <link rel="stylesheet" href="https://unpkg.com/intro.js/minified/introjs.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/toastify-js/1.12.0/toastify.js"
    integrity="sha512-ZHzbWDQKpcZxIT9l5KhcnwQTidZFzwK/c7gpUUsFvGjEsxPusdUCyFxjjpc7e/Wj7vLhfMujNx7COwOmzbn+2w=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastify-js/1.12.0/toastify.css"
    integrity="sha512-kT0v1BxcibEO2Yc+6Z3W1gNsN+2cZ/U6uITqHhIJl8SAvt9vpO8llugdCPXA7cCnp8G1xbuSqHNMRaR3Zlz9yA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <style>
    a:hover {
      color: #5f4dee;
    }
  </style>


</head>

<body data-spy="scroll" data-target=".fixed-top">

  <!-- Preloader -->
  <div class="spinner-wrapper">
    <div class="spinner">
      <div class="bounce1"></div>
      <div class="bounce2"></div>
      <div class="bounce3"></div>
    </div>
  </div>
  <!-- end of preloader -->

  <!-- Navigation -->
  <nav style="background-color: #5f4dee;" class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
    <div class="container">

      <!-- Text Logo - Use this if you don't have a graphic logo -->
      <!-- <a class="navbar-brand logo-text page-scroll" href="index.html">Tivo</a> -->

      <!-- Image Logo -->
      <div class="navbar-brand" href="index.html">
        {% if not pictures %}
        <h6 class="text-white"></h6><img width="90" style="height: auto; border-radius: 50%;"
          src="https://media1.giphy.com/media/f9xvcrzFdRaHATv6me/giphy.gif?cid=6c09b95256e366c2930ac6483563c01a1c5f9a6d8e1e27ce&rid=giphy.gif&ct=s"
          alt="alternative"></h6>{% else %}
        <h6 class="text-white"><img style="border-radius: 50%;" width="45" class="img-rounded" src="{{ pictures }}"
            alt="User Logo"> Xin chào {{names}}</h6>
        {% endif %}
      </div>

      <!-- Mobile Menu Toggle Button -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
        aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-awesome fas fa-bars"></span>
        <span class="navbar-toggler-awesome fas fa-times"></span>
      </button>
      <!-- end of mobile menu toggle button -->

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link page-scroll" href="{{ url_for('home')}}">TRANG CHỦ <span
                class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link page-scroll" href="{{ url_for('forum')}}">DIỄN ĐÀN</a>
          </li>
          <!-- <li class="nav-item">
                    <a class="nav-link page-scroll" href="#details">TIN GIẢ</a>
                </li> -->

          <!-- Dropdown Menu -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle page-scroll" href="" id="navbarDropdown" role="button" aria-haspopup="true" aria-expanded="false">HƯỚNG DẪN</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="{{ url_for('detectfakenews')}}"><span class="item-text">HƯỚNG
                        DẪN CÁCH NHẬN BIẾT, PHÒNG TRÁNH TIN GIẢ </span></a>
                <div class="dropdown-items-divide-hr"></div>
                <a class="dropdown-item" href="{{ url_for('usermanual')}}"><span class="item-text">HƯỚNG DẪN
                        SỬ DỤNG TRANG WEB </span></a>
            </div>
        </li>
          <!-- end of dropdown menu -->

          <li class="nav-item">
            <a class="nav-link page-scroll active" href="{{ url_for('check')}}">KIỂM TRA</a>
          </li>

          {% if not names %}
          {% else %}
          <li class="nav-item">
            <a class="nav-link page-scroll" href="{{ url_for('post')}}">ĐĂNG BÀI</a>
          </li>
          {% endif %}

        </ul>
        <span class="nav-item">
          {% if not names %}
          <a class="btn-outline-sm" href="{{ url_for('login')}}"><i class="fa-brands fa-google"></i> ĐĂNG
            NHẬP</a>
          {% else %}
          <a class="btn-outline-sm" href="{{ url_for('logout')}}"><i class="fa-solid fa-right-from-bracket"></i> ĐĂNG
            XUẤT</a>
          {% endif %}
        </span>
      </div>
    </div>
    <!-- end of container -->
  </nav>
  <!-- end of navbar -->
  <!-- end of navigation -->

  <!-- Header -->

  <!-- end of header -->
  <br>
  <br>
  <br>
  <br>
  <br>

  <div class="container pt-2">
    <div class="row">
      <!-- Blog entries-->
      <div class="col-lg-8">
       <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            {% for top5s in newtop5s %}
            <div class="carousel-item {% if loop.first %}active{% endif %}">
              <img style="filter: brightness(50%);" class="d-block w-100" src="{{ top5s.ImageUpload }}" width="652" height="326" alt="Slide {{ loop.index }}">
              <div class="carousel-caption d-none d-md-block">
                <h5 class="text-white text-left"><b><a class="text-decoration-none text-white" href="http://127.0.0.1:5000/view/{{top5s._id}}">{{ top5s.Title }}</a></b></h5>
              </div>
            </div>
            {% endfor %}
          </div>
          <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
        <br>
        <!-- Nested row for non-featured blog posts-->
        <div class="row">
          {% for forum in forums_list %}
          <div class="col-md-6">
            <div class="card mb-4">
              <a href="#!"><img class="card-img-top" style="max-width:  auto;height: 200px;"
                  src="{{forum.ImageUpload}}" alt="..."></a>
              <div class="card-body">

                <div class="small text-muted">{{ forum.DatePost }}</div>
                <h5 class="card-title h5 d-inline-block text-truncate" style="max-width: 100%;"><b>{{ forum.Title }}</b>
                </h5>
                {% if forum.Label == 1 %}
                <span class="badge badge-success">Tin thật</span>
                {% else %}
                <span class="badge badge-danger">Tin giả</span>
                {% endif %}
                {% if forum.Category == 'law' %}
                <span class="badge badge-info">Chính sách, pháp luật</span>
                {% elif forum.Category == 'disaster' %}
                <span class="badge badge-warning">Thiên tai, dịch bệnh</span>
                {% elif forum.Category == 'ecomomy' %}
                <span class="badge badge-success">Kinh tế, chính trị</span>
                {% elif forum.Category == 'health' %}
                <span class="badge badge-primary">Lĩnh vực y tế, sản phẩm y tế</span>
                {% elif forum.Category == 'seciurity' %}
                <span class="badge badge-secondary">An ninh quốc gia, Trật tự an toàn – xã hội</span>
                {% elif forum.Category == 'other' %}
                <span class="badge badge-danger">Khác</span>
                {% endif %}
                <!-- <p class="card-text">{{ forum.GooglePicture }}</p> -->
                <!-- <div class="small text-muted pt-2">
                  <img class="rounded-circle" width="30" src="{{ forum.GooglePicture }}" alt=""> {{ forum.NameGoogle }}
                </div> -->
                <br>
                <a class="btn btn-primary mt-2" href="http://127.0.0.1:5000/view/{{forum._id}}">Xem thêm →</a>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
        <!-- Pagination-->
        <nav aria-label="Pagination">
          <hr class="my-0">
          <ul class="pagination justify-content-center my-4">
            <li class="page-item"><a class="page-link" href="/forum?page={{ page - 1}}" tabindex="-1"
                aria-disabled="true"><i class="fa-solid fa-chevron-left"></i></a>
            </li>
            <li class="page-item active" aria-current="page"><a class="page-link" href="/forum?page={{ page }}">{{
                page}}</a></li>
            <li class="page-item"><a class="page-link" href="/forum?page={{ page + 1 }}">{{ page + 1 }}</a></li>
            <li class="page-item"><a class="page-link" href="/forum?page={{ page + 2 }}">{{ page + 2 }}</a></li>
            <li class="page-item"><a class="page-link" href="/forum?page={{ page + 3 }}">{{ page + 3 }}</a></li>
            <li class="page-item disabled"><a class="page-link" href="#!">...</a></li>
            <li class="page-item"><a class="page-link" href="/forum?page={{ page + 1 }}"><i
                  class="fa-solid fa-chevron-right"></i></a></li>
          </ul>
        </nav>
      </div>
      <!-- Side widgets-->
      <div class="col-lg-4">
        <!-- Search widget-->
        <div class="card mb-4">
          <div class="card-header"><i class="fa-sharp fa-solid fa-magnifying-glass" style="color:#ff8787"></i> Tìm kiếm</div>
          <div class="card-body">
            <div class="input-group">
              <input class="form-control" onkeyup="mySearch()" type="text" id="myInput" placeholder="Tìm kiếm"
                aria-label="Enter search term..." aria-describedby="button-search">
              <button class="btn btn-primary" id="button-search" type="button">Tìm kiếm</button>
            </div>
          </div>
        </div>
        <!-- Categories widget-->
        <div class="card mb-4">
          <div class="card-header">📌 Thể loại</div>
          <div class="card-body">
            <div class="row">
              <div class="col-sm-12">
                <ul class="list-unstyled mb-0">
                                    <li class="cat-item cat-item-46"><a class="taga"
                                            href="http://127.0.0.1:5000/category/law/0">🅱
                                            Chính sách, pháp luật</a>
                                    </li>
                                    <li class="cat-item cat-item-47"><a class="taga"
                                        href="http://127.0.0.1:5000/category/disaster/0">💊
                                            Thiên tai, dịch bệnh</a>
                                    </li>
                                    <li class="cat-item cat-item-47"><a class="taga"
                                        href="http://127.0.0.1:5000/category/ecomomy/0">🏢
                                        Kinh tế, chính trị</a>
                                    </li>
                                    <li class="cat-item cat-item-48"><a class="taga"
                                        href="http://127.0.0.1:5000/category/health/0">🏥 Lĩnh vực y tế</a>
                                    </li>
                                    <li class="cat-item cat-item-50"><a class="taga"
                                        href="http://127.0.0.1:5000/category/seciurity/0">💝 An ninh, trật
                                            tự an toàn – xã
                                            hội</a>
                                    </li>
                                    <li class="cat-item cat-item-51"><a class="taga"
                                        href="http://127.0.0.1:5000/category/other/0">ℹ️ Khác</a>
                                    </li>
                                </ul>
              </div>
              <!-- <div class="col-sm-6">
                <ul class="list-unstyled mb-0">
                  <li><a href="#!">JavaScript</a></li>
                  <li><a href="#!">CSS</a></li>
                  <li><a href="#!">Tutorials</a></li>
                </ul>
              </div> -->
            </div>
          </div>
        </div>
        <!-- Side widget-->
        <div class="card mb-4">
          <div class="card-header">🔥 Bài đăng gần đây </div>
          <div class="card-body">
            {% for top5 in newtop5 %}
              <div style="max-width: 540px;">
                <div class="row no-gutters">
                  <div class="col-md-4 mt-4">
                    <img height="77" src="{{ top5.ImageUpload }}" class="card-img" alt="...">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h6 class="card-title"><a class="text-wrap text-decoration-none "
                        style="display: block;/* or inline-block */ text-overflow: ellipsis; word-wrap: break-word; overflow: hidden; max-height: 3.6em; line-height: 1.8em;"
                        href="http://127.0.0.1:5000/view/{{top5._id}}">{{top5.Title}}...</a></h6>
                      <p class="card-text"><small class="text-muted">{{ top5.DatePost }}</small></p>
                    </div>
                  </div>
                </div>
              </div>
              {% endfor %}    
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- end of tabs -->
  <!-- Copyright -->
  <div class="copyright">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <p class="p-small">Copyright &copy; 2023. All Rights Reserved.</a>
          </p>
        </div>
        <!-- end of col -->
      </div>
      <!-- enf of row -->
    </div>
    <!-- end of container -->
  </div>
  <!-- end of copyright -->
  <!-- end of copyright -->


  <!-- Scripts -->
  <!-- <script src="{{ url_for('static',filename='js/jquery.min.js') }}">
    </script> -->
  <script src="{{ url_for('static',filename='js/popper.min.js') }}">
  </script>
  <script src="{{ url_for('static',filename='js/bootstrap.min.js') }}">
  </script>
  <script src="{{ url_for('static',filename='js/jquery.easing.min.js') }}">
  </script>
  <script src="{{ url_for('static',filename='js/swiper.min.js.js') }}">
  </script>
  <script src="{{ url_for('static',filename='js/jquery.magnific-popup.js') }}">
  </script>
  <script src="{{ url_for('static',filename='js/validator.min.js') }}">
  </script>
  <script src="{{ url_for('static',filename='js/scripts.js') }}">
  </script>
  <script src="https://cdn.jsdelivr.net/gh/reymon359/web-experiments/Social%20Signature/socialsignature.min.js"
    crossorigin="anonymous"></script>
  <script>
    function mySearch() {
      // Declare variables
      var input, filter, ul, li, a, i, txtValue;
      input = document.getElementById('myInput');
      filter = input.value.toUpperCase();
      ul = document.getElementById("myUL");
      li = ul.getElementsByTagName('li');

      // Loop through all list items, and hide those who don't match the search query
      for (i = 0; i < li.length; i++) {
        a = li[i].getElementsByTagName("a")[0];
        txtValue = a.textContent || a.innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
          li[i].style.display = "";
        } else {
          li[i].style.display = "none";
        }
      }
    }
  </script>
  <script>
    $(function () {
      $('#message').click(function () {
        $("#message").val("")
        $('textarea').highlightTextarea('destroy');
      });
    });
    function readURL(input) {
      if (input.files && input.files[0]) {

        var reader = new FileReader();

        reader.onload = function (e) {
          $('.image-upload-wrap').hide();

          $('.file-upload-image').attr('src', e.target.result);
          $('.file-upload-content').show();

          $('.image-title').html(input.files[0].name);
        };

        reader.readAsDataURL(input.files[0]);

      } else {
        removeUpload();
      }
    }

    function removeUpload() {
      $('.file-upload-input').replaceWith($('.file-upload-input').clone());
      $('.file-upload-content').hide();
      $('.image-upload-wrap').show();
    }
    $('.image-upload-wrap').bind('dragover', function () {
      $('.image-upload-wrap').addClass('image-dropping');
    });
    $('.image-upload-wrap').bind('dragleave', function () {
      $('.image-upload-wrap').removeClass('image-dropping');
    });
  </script>
  <script type="text/javascript">
    function notify() {
      $.notify("Access granted", "success");
    }

  </script>
  <script>
    $(document).ready(function () {
      $("#message").on('keyup', function () {
        var words = 0;

        if ((this.value.match(/\S+/g)) != null) {
          words = this.value.match(/\S+/g).length;
          $('.count').text(words);
        }

        // if (words > 200) {
        //     toastr.error('Giới hạn tối đa là 200 từ.')
        //         // Split the string on first 200 words and rejoin on spaces
        //     var trimmed = $(this).val().split(/\s+/, 200).join(" ");
        //     // Add a space at the end to make sure more typing creates new words
        //     $(this).val(trimmed + " ");
        // } else {
        //     $('.count').text(words);
        //     $('#message').text(200 - words);
        // }
      });
    });
  </script>
  <script>
    if (window.history.replaceState) {
      window.history.replaceState(null, null, window.location.href);
    }
  </script>

  <!-- <script>
        introJs().setOptions({
            steps: [
                {
                    title: 'Xin chào!',
                    element: document.querySelector('#nav-tab-1'),
                    intro: 'Kiểm tra tin giả bằng văn bản!'
                },
                {
                    title: 'Bước 1',
                    element: document.querySelector('#message'),
                    intro: 'Nhập thông báo, tin tức hoặc nội dung mà bạn muốn kiểm tra vào đây!'
                },
                {
                    title: 'Bước 2',
                    element: document.querySelector('#submit1'),
                    intro: 'Nhấn kiểm tra để chờ và xem kết quả.'
                },
                {
                    title: 'Bước 3',
                    element: document.querySelector('#submit2'),
                    intro: 'Tiếp nhận phản ánh nếu có sai sót.'
                },
            ]
        }).start();


    </script> -->

  <script type="text/javascript">
    $(document).ready(function () {
      $('#newsletterForm').on('submit', function (e) {
        $.ajax({
          data: {
            message: $('#message').val(),
          },
          type: 'POST',
          url: '/predicts'
        })
          .done(function (data) {
            $('.results').html(data).show();
            $('.thead').show();
          });
        e.preventDefault();
      });
    });
  </script>
  <script>
    var loadFile = function (event) {
      var output = document.getElementById('output');
      output.src = URL.createObjectURL(event.target.files[0]);
      output.onload = function () {
        URL.revokeObjectURL(output.src) // free memory
      }
    };
  </script>
  <script>
    function Check2() {
      let title = document.forms["formpost"]["title"].value;
      let phone = document.forms["formpost"]["phone"].value;
      let type = document.forms["formpost"]["type"].value;
      let label = document.forms["formpost"]["label"].value;
      let link = document.forms["formpost"]["link"].value;
      let image_upload = document.forms["formpost"]["image_upload"].value;
      let content = document.forms["formpost"]["content"].value;

      if (title == "" && content == "" && phone == "" && link == "" && image_upload == "") {
        Toastify({
          text: "Không được phép để trống!",
          duration: 5000,
          backgroundColor: "linear-gradient(to right, #00b09b, #96c93d)",

        }).showToast();
      } else {
        Toastify({
          text: "Tin của bạn sẽ được kiểm duyệt dau 24h!",
          duration: 100000
        }).showToast();

      }

    }
  </script>
  <script>
    function Check() {
      let message = document.forms["form1"]["message"].value;
      if (message == "") {
        Toastify({
          text: "Không được phép để trống!",
          duration: 3000,
          backgroundColor: "linear-gradient(to right, #00b09b, #96c93d)",

        }).showToast();
      } else {
        Toastify({
          text: "Đang thực hiện kiểm tra! Vui lòng đợi...",
          duration: 3000
        }).showToast();
        // setTimeout(
        //     function () {
        //         $('textarea').highlightTextarea({
        //             words: ['canh chua', 'cá lóc','tin giả'],
        //             color: '#ffc9c9'
        //         });

        //     }, 3000);

      }

    }
  </script>
  {% if not mess %}
  {% else%}
  <script>
    function Submit() {
      Toastify({
        text: "Gửi ok",
        duration: 3000
      }).showToast();
    }
    Submit()
  </script>
  {% endif %}
</body>

</html>